body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}
.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #892CDC;
    border-radius: 30px;
}
.card {
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0,   0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    transition: all 0.75s ease-in-out;
}


img {
    max-height: 20vh;
    width: auto;
    position: relative;
}

.pumkinContainer {
    visibility: hidden;
}
.pumkin {
    position: absolute;
    max-height: 5vh;
    width: auto;
}

#pumkin1 {
    transform: translate(100px, -230px);
}

#pumkin2 {
    transform: translate(170px, -100px);
}

#pumkin3 {
    transform: translate(-20px, -140px);
}

.card:hover > .anime {
    animation: floating 1s infinite alternate;
}
@keyframes floating {
    0% {
        transform:translateZ(200px) translateY(0px);
    }
    100% {
        transform:translateZ(200px) translateY(-30vH);
    }
}
